{{ block "login-form" . }}
    <form class="login-form-card">
        <div 
            id="login-form-card-avatar" 
            class="login-form-card-avatar"
            hx-on:mouseover="onAvatarMouseOver({{ .EditModal }})"
            hx-on:mouseout="onAvatarMouseOut()"
            hx-on:click="onAvatarMouseClick()"
        >
            <div id="login-form-card-avatar-delete" class="login-form-card-avatar-delete">
                <img
                    src="/static/images/trash_light.svg"
                    alt="delete-avatar"
                    class="login-form-card-avatar-delete-icon"
                >
            </div>
            {{ if .EditModal }}
                <img 
                    id="avatar-image"
                    src="{{ .AvatarPath }}" 
                    alt="avatar" 
                    class="login-form-card-avatar-image" 
                >
            {{ else }}
                <img 
                    id="avatar-image"
                    src="/static/images/avatar_placeholder.png" 
                    alt="avatar" 
                    class="login-form-card-avatar-image" 
                >
            {{ end }}
        </div>
        <label for="avatar-input" class="login-form-card-upload">
            <div class="login-form-card-upload-icon"></div>
            <div class="login-form-card-upload-text">
                UPLOAD
            </div>
        </label>
        {{ if .EditModal }}
            <input 
                id="avatar-input" 
                type="file" 
                name="avatar-input"
                accept="image/gif, image/jpeg, image/png" 
                onchange="uploadTemporaryAvatar(this)" 
                hidden
            >
        {{ else }}
            <input 
                id="avatar-input" 
                type="file" 
                name="avatar-input"
                accept="image/gif, image/jpeg, image/png" 
                onchange="uploadTemporaryAvatar(this)" 
                hidden
            >
        {{ end }}
        <div class="login-form-card-empty"></div>
        {{ if .EditModal }}
            <input 
                class="login-form-card-input" 
                name="name-input" 
                placeholder="Edit your name..."
                maxlength="12"
                value="{{ .Name }}"
            >
        {{ else }}
            <input 
                class="login-form-card-input" 
                name="name-input" 
                placeholder="Enter your name..."
                maxlength="12"
            >
        {{ end }}
        {{ if .EditModal }}
            <div class="login-form-card-submit login-form-card-submit-modal">
                <button 
                    class="login-form-card-submit-button login-form-card-submit-button-red"
                    hx-on:click="removeElementById('#user-edit-modal')"
                    type="button"
                >
                    CANCEL
                </button>
                <button 
                    class="login-form-card-submit-button" 
                    type="submit"
                    hx-post="/edit"
                    hx-target="#user-info"
                    hx-encoding="multipart/form-data"
                    hx-swap="outerHTML"
                    hx-on:click="removeElementById('#user-edit-modal')"
                >
                    SUBMIT
                </button>
            </div>
        {{ else }}
            <div class="login-form-card-submit">
                <button 
                    class="login-form-card-submit-button" 
                    type="submit"
                    hx-post="/"
                    hx-target="#login-wrapper"
                    hx-encoding="multipart/form-data"
                    hx-swap="outerHTML"
                >
                    SUBMIT
                </button>
            </div>
        {{ end }}
    </form>
    </script>
{{ end }}