{{ block "room-list" . }}
    <div class="room-list-wrapper">
        <div class="room-list-label">
            Rooms
        </div>
        <div class="room-list-wrapper-block">
            {{ template "room-list-counter" . }}
            <button 
                id="room-list-new-room-button" 
                class="room-list-new-room-button" 
                type="submit" 
                hx-post="/room" 
                hx-target="#room-list-list" 
                hx-swap="beforeend"
            >
                NEW ROOM
            </button>
        </div>
        <ul class="room-list-list" id="room-list-list">
            {{ if .UserRooms }}
                {{ range .UserRooms }}
                    {{ template "room-card" . }}
                {{ end }}
            {{ end }}
        </ul>
    </div>
{{ end }}

{{ block "room-list-counter" . }}
    <div id="room-list-counter" class="room-list-counter">{{ .CurrentRooms }}/{{ .MaxRooms }}</div>
{{ end }}

{{ block "room-list-counter-oob" . }}
    <div id="room-list-counter" class="room-list-counter" hx-swap-oob="true">{{ .CurrentRooms }}/{{ .MaxRooms }}</div>
{{ end }}

{{ block "room-list-counter-error-oob" . }}
    <div id="room-list-counter" class="room-list-counter room-list-counter-error" hx-swap-oob="true">{{ .CurrentRooms }}/{{ .MaxRooms }}</div>
{{ end }}