{{ block "room-card" . }}
    <li 
        id="room-ws-{{ .Room.Id }}"
        class="room-card-wrapper"
        hx-ext="ws" 
        ws-connect="/ws/{{ .Room.Id }}" 
        hx-on::ws-close="removeRoomAndUpdateCounter(this)" 
        hx-on::ws-open="startRoomTimer(event, this, {{ .TimerSeconds }})"
        hx-on::oob-after-swap="handleRoomCardNotification(event)"
    >
        <div 
            id="room-card-{{ .Room.Id }}" 
            class="room-card"
            hx-get="/room/{{ .Room.Id }}"
            hx-target="#chat-window-wrapper"
            hx-trigger="click"
            hx-on:click="resetNotifications('{{ .Room.Id }}')"
        >
            {{ .Room.Name }}
        </div>
        <div id="room-card-timer-{{ .Room.Id }}" class="room-card-timer">
        </div>
        <div 
            id="room-card-notification-{{ .Room.Id }}" 
            class="room-card-notification display-none"
            hx-on::load="checkIfRoomActive(event)"
        >0</div> 
    </li>
{{ end }}

{{ block "room-card-active-oob" . }}
    <div
        id="room-card-{{ .Id }}"
        class="room-card-active"
        hx-swap-oob="true"
        hx-get="/room/{{ .Id }}"
        hx-target="#chat-window-wrapper"
        hx-trigger="click"
        hx-on:click="resetNotifications('{{ .Id }}')"
    >
        {{ .Name }}
    </div>
{{ end }}

{{ block "room-card-inactive-oob" . }}
    <div 
        id="room-card-{{ .Id }}"
        class="room-card"
        hx-swap-oob="true"
        hx-get="/room/{{ .Id }}"
        hx-target="#chat-window-wrapper"
        hx-trigger="click"
        hx-on:click="resetNotifications('{{ .Id }}')"
    >
        {{ .Name }}
    </div>
{{ end }}

{{ block "room-card-notification" . }}
    <div 
        id="room-card-notification-{{ .Id }}" 
        class="room-card-notification"
        hx-swap-oob="outerHTML"
        hx-on::load="checkIfRoomActive(event)"
    >0</div> 
{{ end }}
