{{ block "room-card" . }}
    <li 
        id="room-ws-{{ .Id }}"
        class="room-card-wrapper"
        hx-ext="ws" 
        ws-connect="/ws/{{ .Id }}" 
        hx-on::ws-close="removeRoomAndUpdateCounter(this)" 
        hx-on::load="startRoomTimer(this, {{ .TimerSeconds }})"
        hx-on:click="console.log('clicked room')"
    >
        <div id="room-card-{{ .Id }}" class="room-card">
            {{ .Id }}
        </div>
        <div id="room-card-timer-{{ .Id }}" class="room-card-timer">
            0:20
        </div>
    </li>
{{ end }}

{{ block "room-card-oob" . }}
    <div 
        id="room-card-{{ .Id }}"
        class="room-card-active"
        hx-swap-oob="true"
    >
        {{ .Id }}
    </div>
{{ end }}