{{ block "index" . }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>TEMPOCHAT_</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link id="head_style-link" rel='stylesheet' type='text/css' media='screen' href='/static/styles/index.css'>
        <link id="head_style-link" rel='stylesheet' type='text/css' media='screen' href='/static/styles/login.css'>
        <link id="head_style-link" rel='stylesheet' type='text/css' media='screen' href='/static/styles/rooms.css'>
        <link id="head_style-link" rel='stylesheet' type='text/css' media='screen' href='/static/styles/components/spinner.css'>
        <link id="head_style-link" rel='stylesheet' type='text/css' media='screen' href='/static/styles/components/login-form.css'>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
    </head>

    <body>
        <div class="main-wrapper" id="main">
            {{ if .Rooms }}
                {{ template "rooms" .UserData }}
            {{ else }}
                {{ template "login" . }}
            {{ end }}
        </div>
    </body>
    </html>
{{ end }}
