{{ block "index" . }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset='utf-8'>
        <title>TEMPOCHAT_</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link id="head_style-link" rel='stylesheet' type='text/css' media='screen' href='/static/styles/index.css'>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script src="https://unpkg.com/htmx-ext-ws@2.0.2/ws.js"></script>
        <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
    </head>

    <body>
        <div id="main" class="main-wrapper">
            {{ if .Rooms }}
                {{ template "rooms" . }}
            {{ else }}
                {{ template "login" . }}
            {{ end }}
        </div>
    </body>
    </html>

    <script>
        // htmx.logAll()

        document.body.addEventListener('htmx:beforeSwap', function (evt) {
            if (evt.detail.xhr.status === 401) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
        
        function startRoomTimer(element, timeRemaining) {
            console.log('received time remaining: ' + timeRemaining)
            const findString = '#room-card-timer-' + element.id.slice(-36)
            const timerElement = htmx.find(findString)
            const initTimerTextNode = getTimerTextNodeFromSeconds(timeRemaining)
            timerElement.replaceChildren(initTimerTextNode)

            const timer = setInterval(function() {
                if (--timeRemaining < 0) {
                    clearInterval(timer)
                }
                const newTimerTextNode = getTimerTextNodeFromSeconds(timeRemaining)
                timerElement.replaceChildren(newTimerTextNode)
            }, 1000)
        }

        function getTimerTextNodeFromSeconds(seconds) {
            const quotient = Math.floor(seconds / 60)
            const remainder = seconds % 60
            let result
            if (remainder.toString().length < 2) {
                result = document.createTextNode(quotient.toString() + ':0' + remainder.toString())
            } else {
                result = document.createTextNode(quotient.toString() + ':' + remainder.toString())
            }
            return result
        }

        function removeRoomAndUpdateCounter(element) {
            element.remove()
            const counter = htmx.find("#room-list-counter")
            const counterText = counter.innerText
            const lastCount = counterText.split('/')[0]
            const maxCount = counterText.split('/')[1]
            let newCountNum = -1
            try {
                newCountNum = parseInt(lastCount) - 1
            }catch {
                const result = document.createTextNode(newCountNum.toString() + '/' + maxCount)
                counter.replaceChildren(result)
                return
            }
            const newCount = newCountNum.toString()
            const result = document.createTextNode(newCount + '/' + maxCount)
            counter.replaceChildren(result)
        }

        function scrollChatWindow(event) {
            if (!(event.detail.target instanceof HTMLUListElement)) {
                return
            }
            event.detail.target.scrollTop = event.detail.target.scrollHeight
        }

        function changeChatButtonBevahior() {
            // htmx.find("#chat-window-active-input-icon").addEventListener("click", function(event) {
            //     event.preventDefault()
            // })
        }
    </script>
{{ end }}
