{{ block "login" . }}
    <div class="login-wrapper" id="login-wrapper">
        <div class="login_title">
            TEMPOCHAT_
        </div>
        <form class="login_card">
            <div class="login_card_avatar" id="login_card_avatar">
                <div class="login_card_avatar-delete" id="login_card_avatar-delete">
                    <img
                        src="/static/images/trash_light.svg"
                        alt="delete-avatar"
                        class="login_card_avatar-delete_icon"
                    >
                </div>
                <img 
                    src="/static/images/avatar_placeholder.png" 
                    alt="avatar" 
                    class="login_card_avatar-image" 
                    id="avatar-image"
                >
            </div>
            <label for="avatar-input" class="login_card_upload">
                <div class="login_card_upload_icon"></div>
                <div class="login_card_upload_text">
                    UPLOAD
                </div>
            </label>
            <input 
                type="file" 
                name="avatar-input"
                id="avatar-input" 
                accept="image/gif, image/jpeg, image/png" 
                onchange="readURL(this)" 
                hidden
            >
            <div class="login_card_empty"></div>
            <input class="login_card_input" name="name-input" placeholder="Enter your name...">
            <div class="login_card_submit">
                <button 
                    class="login_card_submit_button" 
                    type="submit"
                    hx-post="/"
                    hx-target="#login-wrapper"
                    hx-encoding="multipart/form-data"
                    hx-swap="outerHTML"
                >
                    SUBMIT
                </button>
            </div>
        </form>
    </div>
    <script>
        window.addEventListener("load", function() {
            try{
                const avatar = htmx.find('#login_card_avatar')
                const avatarDelete = htmx.find('#login_card_avatar-delete')
                avatar.addEventListener("mouseover", function() {
                    avatarDelete.classList.add("visible")
                })
                avatar.addEventListener("mouseout", function() {
                    avatarDelete.classList.remove("visible")
                })
                avatar.addEventListener("click", function() {
                    const image = htmx.find('#avatar-image')
                    const avatarInput = htmx.find('#avatar-input')
                    image.src = '/static/images/avatar_placeholder.png'
                    avatarInput.value = ""
                })
            }catch{}
        })

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
        
                reader.onload = function (e) {
                    const image = htmx.find('#avatar-image')
                    image.src = e.target.result
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{{ end }}
