.login-form-card {
    background-color: beige;
    color: darkslategray;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    padding: 1rem;
    min-height: 30px;
    min-width: 25px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 15px 30px 30px;
}

.login-form-card-avatar {
    position: relative;
    background-color: white;
    border-radius: 50%;
    border: 5px solid darkslategray;
    box-shadow: inset 0 0 5px black;
    min-height: 50px;
    min-width: 50px;
    overflow: hidden;
}

.login-form-card-avatar-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
}

.login-form-card-avatar-delete-icon {
    height: 50%;
    width: 50%;
}

.login-form-card-avatar-image {
    height: 100%;
    width: 100%;
}

.login-form-card-upload {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 5px solid darkslategray;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px, rgba(10, 37, 64, 0.7) 0px -2px 6px 0px inset;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.login-form-card-upload:hover {
    background-color: rgb(240, 240, 240);
}

.login-form-card-upload:active {
    background-color: rgb(210, 210, 210);
}

.login-form-card-upload-icon {
    background-image: url('/static/images/upload.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 40px;
    height: 40px;
    width: 40px;
}

.login-form-card-upload-text {
    color: rgb(25, 25, 25);
    font-size: 1rem;
    font-weight: bold;
}

.login-form-card-empty {
    grid-column-start: 1;
    grid-column-end: 3;
}

.login-form-card-input {
    background-color: darkslategray;
    color: beige;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 5px;
    font-size: 1.05rem;
    border-radius: 5px;
}

.login-form-card-submit {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.login-form-card-submit-button {
    color: rgb(25, 25, 25);
    padding: 0 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid darkslategray;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.6) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.7) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.login-form-card-submit-button:hover {
    background-color: rgb(240, 240, 240);
}

.login-form-card-submit-button:active {
    background-color: rgb(210, 210, 210);
}

.login-form-card-submit-modal {
    justify-content: space-between;
}

.login-form-card-submit-button-red {
    background-color: rgb(255, 140, 160);
}
